<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {


      	<% @survey.questions.each do |question| %>
        var data<%= question.id %> = google.visualization.arrayToDataTable([
          ["Choice", "Number of Responses"],
          <% question.choices.each do |choice| %>
          ['<%=h choice.text %>', <%= choice.answers.count %>],
          <% end %>
          ]);

        var options<%= question.id %> = {
          title: '<%=h question.text %>', color: '000', opacity: 0.5,
          vAxis: {title: 'Reponse Options',  titleTextStyle: {color: '000', opacity: 0.5}},
          backgroundColor: '#FF7F00',
          colors: ['black']
        };

        var chart<%= question.id %> = new google.visualization.BarChart(document.getElementById('chart_div<%= question.id %>'));


        chart<%= question.id %>.draw(data<%= question.id %>, options<%= question.id %>);
      <% end %>
  	}
</script>

<h1 class="survey-name"><%=h @survey.name %></h1>
<form action="/surveys/<%= @survey.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input class="delete" type="submit" value="Delete this survey">
</form>
<form action="/surveys/<%= @survey.id %>" method="get">
	<input class="take"type="submit" value="Take this survey">
</form>

<h1 class="survey-stats">Survey Statistics</h1>
<% @survey.questions.each do |question| %>
<div class="survey-graph"id="chart_div<%= question.id %>" style="width: 700px; height: 500px"></div>
<% end %>