<div class = "container">
<h2><%=@survey.name%></h2>
  <form id = "takesurvey" action = "/surveys/<%=@survey.id%>" method="post">

    <ol>
        <% @survey.questions.each do |question| %>
          <li><%=question.text%></li><br>
            <ul class="choices">
              <%question.choices.each do |choice| %>
                <li><input type="radio" value = "<%=choice.id%>" name="questions[<%=question.id%>]"> <%=choice.text%></li><br>
              <% end %>
            </ul>
        <%end%>
    </ol>
      <input class="take" type="submit" value="Submit">
  </form>
</div>

